<% layout('layouts/boilerplate')%> 
    <div class="container">
        <div class="row">
            <div class="col text-lg-center mt-lg-5 pt-lg-5">
                <h1 class="text-center text-danger">Verse</h1>
            </div>
            <div class="col">
                <div class="card mt-5 shadow p-3 mb-5 bg-body rounded" >
                    <H2 class="card-header text-center text-danger fs-7">Login</H2>

                    <!--Login Form-->
                    <form action="/login" method="POST" class="needs-validation" novalidate>
                        <div class="mb-3 mt-5" id="emailField">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username" style="margin: auto; 
                            width:90%" required>
                        </div>
                        <div class="mb-5 mt-3" id="passwordField">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="margin: auto; 
                            width:90%" required>
                        </div>
                        <button class="btn btn-danger mx-auto col-4 mb-1">Login</button>
                    </form>
                    <a class="card-text text-center mt-2 mb-2">Forgot password?</a>
                    <hr style="width: 50%; margin: auto;">
                    <!-- Sign Up button trigger modal -->
                    <button type="button" class="btn btn-outline-danger mx-auto col-4 mt-4 mb-3" data-bs-toggle="modal" data-bs-target="#signupModal">
                        Create an Account
                    </button>
                    <!-- Account Creation Modal -->
                    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!--Register Form-->
                                    <form action="/register" method="POST" novalidate class="needs-validation">
                                        <input type="text" class="form-control my-3" id="username" name="username"placeholder="Username" required>
                                        <input type="email" class="form-control my-3" id="email" name="email" placeholder="Email" required>
                                        <input type="password" class="form-control my-3" id="password" name="password" placeholder="Password" required>
                                        <button class="btn btn-danger" data-bs-dismiss="modal">Create Account</button>
                                    </form>

                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

