<% layout('layouts/boilerplate')%>

<div class="card row g-3">
    <h1 class="text-center">Add New Movie</h1>
    <div class="col-6 offset-3">
        <form action="/movie" method="POST" novalidate class="needs-validation">
            <div class="mb-3" >
                <label for="Name" class="form-label">Movie Name</label>
                <input class="form-control" type="text" name="movie[title]" id="title" required>
                <div class="valid-feedback">
                    Looks good!
                </div> 
            </div>
        
            <div class="mb-3">
                <label for="category" class="form-label">category</label>
                <select name="movie[category]" id="category" class="form-control" required>
                    <option value="Action">Action</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Documentary">Documentary</option>
                    <option value="Drama">Drama</option>
                    <option value="Horror">Horror</option>
                    <option value="Sci-Fi">Sci-Fi</option>
                    <option value="Thriller">Thriller</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="about" class="form-label">Movie Details</label>
                <textarea class="form-control" name="movie[about]" id="about" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            
            <div class="d-grid mb-3 gap-2 col-6 mx-auto"> 
                <button class="btn btn-primary">Add Movie</button> 
            </div>
        </form>
        <div class="d-grid mb-3 gap-2 col-6 mx-auto">
            <a role="button" class="btn btn-danger" href="/movie">Cancel</a>
        </div>
    </div>
    
</div>
<!-- <script>
    (function () {
    'use strict'
  
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })()

</script> -->